{% extends 'base.html' %}
{% block title %}Вход в систему{% endblock title%}
{% block content %}
    <h1>Log-in</h1>
    <div class="module">
        {% if form.errors %}
        <p>Ваш логин и пароль не найдены.Пожалуйста повторите</p>
        {% else %}
        <p>Пожалуйста используйте эту форму для авторизации:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Войти в систему"></p>
            </form>
        </div>
    </div>
{% endblock content %}
